body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

#art {
  position: relative;
  width: 80vmin;
  height: 80vmin;
  background-color: white;
  border: 5px solid black;
}
.rectangle {
  position: absolute;
  border: 3px solid black;
}
